{
    "name": "Test virtual machine",
    "memory": {
        "capacity":"8G"
    },
    "cpu": {
        "count":1,
        "cores":1,
        "threads":1,
        "arch":"x86_64",
        "model":"qemu64",
        "hpet":1,
        "acpi":1
    },
    "drives": {
        "hd": {
            "type": "harddisk",
            "file": "test.qcow2"
        },
        "cd": {
            "type": "dvd",
            "file": "test.iso"
        }
    },
    "machine": {
        "type": "q35",
        "accelerator": "hax"
    },
    "bios": {
        "bootOrder": "c",
        "bootMenu": 1,
        "file": ""
    },
    "audio": {
        "device": "intel-hda"
    },
    "usb": {
        "enabled": 1
    },
    "display": {
        "enabled": 1,
        "type": "sdl",
        "card": "vmware",
        "resolution": "1280x720"
    },
    "additionalOptions": "",
    "signature": "qvirt"
}